h1#TITLE {
    font-family: "Arial", Times, serif;;
    color: whitesmoke;
    background-color: midnightblue;
    text-align: center;
    margin: 0;
}

body {
    margin: 0;
}

.INIT {
    margin: 5px 43% 5px ;
}


.CSSTableGenerator {
    padding:0px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;

    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;

    -moz-border-radius-topright:14px;
    -webkit-border-top-right-radius:14px;
    border-top-right-radius:14px;

    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
}.CSSTableGenerator table{

     margin:0 auto;
 }.CSSTableGenerator tr:last-child td:last-child {
      -moz-border-radius-bottomright:14px;
      -webkit-border-bottom-right-radius:14px;
      border-bottom-right-radius:14px;
  }


.CSSTableGenerator tr:last-child td:first-child{
     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;
 }.CSSTableGenerator tr:hover td{

  }.CSSTableGenerator tr:nth-child(odd){ background-color: cornflowerblue;}
.CSSTableGenerator tr:nth-child(even)    { background-color: snow; }
.CSSTableGenerator td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    color:#000000;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
}
.CSSTableGenerator tr:last-child td{
     border-width:0px 1px 0px 0px;
 }
.CSSTableGenerator tr td:last-child{
      border-width:0px 0px 1px 0px;
  }
.CSSTableGenerator tr:last-child td:last-child{
       border-width:0px 0px 0px 0px;
   }


.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
    border-top-left-radius:14px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
    border-top-right-radius:14px;
}

#ScoreTable {
    display: none;
    margin:0 auto;
    border: 3px;
    text-align: center;
}